*:focus {
    outline: none;
}
.App {
  position:absolute;
  height: 10%;
  width: 40%;
  left:30%;
  top:30%
}


.ToggleHide{
  display: none;
}
.ToggleShow{
  margin: 0px;
  padding: 0px;
  display:inline-grid;
  position: absolute;
  left: 20px;
  top: 45px;
  
}
