

.SearchBox{

  border: 1px solid rgb(175, 203, 240);
  border-radius: 20px;
  height: 30px;
  font-size: 20px;
  padding: 10px;
  margin-left: 25%;
  margin-top: 20%;
  width: 50%;
}

ul{
  margin: 0px;
  padding: 0px;

}

.BoxShadow{
  display: block;
  box-shadow: 5px 5px 5px lightgray;
  margin-left: 30%;
  width:30%
}


li{
  margin: 0px;

  padding: 0px;
  list-style: none;
  border: 1px solid #a4ddeb;



}
li:nth-child(even){
  background-color: #ebf8fb;

}
